@font-face {
    font-family: "BMWTypeNext Pro Regular";
    src: url(../fonts/type-next-tt-regular.woff) format('woff');
}

@font-face {
    font-family: "BMWTypeNext Pro Light";
    src: url(../fonts/type-next-tt-light.woff) format('woff');
}

@font-face {
    font-family: "BMWTypeNext Pro Bold";
    src: url(../fonts/type-next-tt-bold.woff) format('woff');
}


/**************/
/* CSS REMEDY */
/**************/
* {
	font-family: "BMWTypeNext Pro Regular", f;
}


*, *::after, *::before {
  box-sizing:border-box;  
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  --general-color:#012;
  --general-background:#2e2525;
  --color-text:#111;
	--color-background:#b9aeae;
  
  --header-gradient:linear-gradient(#fff, #fff);
  
  --menu-gradient:linear-gradient(rgb(255, 255, 255), #bdf);
  --menu-border:rgb(0, 0, 0);
  
  --button-color:#fff;
  --button-background:rgb(102, 102, 102);
  
  --title-gradient:linear-gradient(rgb(0, 0, 0) 40%, rgb(255, 255, 255) 80%);
}



/********************************/
/* CUSTOM PROPERTIES - CAROUSEL */
/********************************/

.caroCarousel {
	/* basis waarden die door de hele carousel gebruikt worden */
	/* kun je zelf aanpassen */
  
	--caroCarouselMainColor:#333;
  --caroCarouselAccentColor:#1b75b3;
  --caroCarouselInverseColor:#e48a4c;
	--caroCarouselShadeColor:#ddd9;

	--caroCarouselElementWidth:100%; /* kan ook kleiner om meer elementen tegelijk te laten zien */
	--caroCarouselWhiteSpace:.5em;
	--caroCarouselLinkButtonSize:3em;
	--caroCarouselBolletjesSize:1.25em;
	--caroCarouselPlayButtonSize:var(--caroCarouselBolletjesSize);

	--caroCarouselAutoScrollInterval:4000; /* in miliseconden */
}

/*bron voor berekenen px naar em: https://nekocalc.com/px-to-em-converter*/

/****************/
/* JOUW STYLING */
/****************/
h1, h2, h3, h4 {
	text-transform: uppercase;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 0.063px;
    margin-bottom: 10px;
}





h1 {
	font-size: 2.5em;
  color: #ffffff;
  position:absolute; 
  left: 43%;
  top: 35%;
  transform: translate(-50%, -50%);
  margin: -50px 0 0 -50px;
  z-index: -1;
}

h2, h3 {
	font-size: 2em;
}

h4 {
	font-size: 11,125em;
}





body{
    width: 100%;
    height: 100%;
    padding-top: 30px;
    margin-right: auto;
    margin-left: auto;
}

img{
  width: 40%;
  height: auto;
}



/* verras knop benoemd vanuit article omdat hij verdwenen was */ 


header {
    min-height:4em;
    padding:0;
    background-image:var(--header-gradient);
    line-height:1;
    height: 100%;
    /* JOUW CODE HIER - stap 3 */
    display:flex;
    justify-content:space-between;
    align-items:center;
  }
  
  /* alle links in de header */
  header a {
    padding:.5em 0;
    color:var(--general-color);
    text-decoration:none;
  }
  
  header > a {
    /* om het boek en de titel te positioneren */
    display:grid;
    grid-template-columns:min-content min-content;
    grid-gap:.25em;
    align-items:center;
    
    font-weight:bold; 
  }
  
  header > a img {
    height:2em;
    width: auto;
  }


  header img {
    width: 30px;
  }

/*hoofd afbeelding*/


/* z index https://developer.mozilla.org/en-US/docs/Web/CSS/z-index */ 

  .blur {
    filter: blur(10px);
    position: absolute;
    width:100%;
    height: 80%;
    z-index: -3;
  }

  picture img{
    max-width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:100%;
    z-index: -2;
    
  }


  /* alle afbeeldingen */

 
  
  /*****************/
/* BEIDE BUTTONS */
/*****************/
header nav button {
  padding:.5em;
  
  /* icon en tekst met gap-je naast elkaar */
  display:flex;
  align-items:center;
  gap:.25em;
  
  /* standaard styling aanpassen */
  appearance:none;
  background-color:var(--button-background);
  border:none;
  border-radius:.25em; 
  font:inherit;
  text-align:center;
  color:var(--button-color);
}

header nav button img {
  height:1em;
}

/* pop up geprobeerd */


.tooltip {
  position:relative; /* making the .tooltip span a container for the tooltip text */
  border-bottom:1px dashed #000; /* little indicater to indicate it's hoverable */

}


.tooltip:before {
  content: attr(data-text); /* here's the magic */
  position:absolute;
  
  /* vertically center */
  top:50%;
  transform:translateY(-50%);
  
  /* move to right */
  left:100%;
  margin-left:15px; /* and add a small left margin */
  
  /* basic styles */
  width:200px;
  padding:10px;
  border-radius:10px;
  background:#000;
  color: #fff;
  text-align:center;
  display:none; /* hide by default */
}

.tooltip:hover:before {
  display:block;
}


/***************/
/* MENU BUTTON */
/***************/
header nav > button {
  /* JOUW CODE HIER - stap 3 */
  order:-1;
}

/************/
/* HET MENU */
/************/
header nav {
  padding:1em;
  display:grid;
  align-content:start;
  gap:1em;
  
  background-image:var(--menu-gradient);
  
  /* JOUW CODE HIER - stap 1 */
  position:fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  
  /* JOUW CODE HIER - stap 2 */
  translate:-100% 0%;
  
  /* JOUW CODE HIER - stap 4 */
  transition:translate .3s;
}

/* als menu open is */
header nav.toonMenu {
  /* JOUW CODE HIER - stap 4 */
  translate:0% 0%;
}

/*******************/
/* LIJST MET LINKS */
/*******************/
header nav ul { 
  margin:0; 
  padding:0em;
  list-style:none;
}


/************************/
/* EEN LINK IN DE LIJST */
/************************/
header nav a {
  /* icon en tekst met gap-je naast elkaar */
  display:flex;
  align-items:center;
  column-gap:.25em;
  border-bottom:solid 1px var(--menu-border);
}

header nav a.active {
  font-weight:bold;
}


/****************************************************************/
/* styling voor de header als de browser minimaal 38em breed is */
/****************************************************************/
@media (min-width:75em) {
  header > nav button {
    /* JOUW CODE HIER - stap 6 */
    display:none;
  }
  

  header nav {
    /* JOUW CODE HIER - stap 7 */
    position:static;
    translate:unset;
    padding:0;
    
    background:none;
  }
  
  header nav button {
    /* JOUW CODE HIER - stap 6 */
    display:none;
  }
  
  header nav ul {
    /* JOUW CODE HIER - stap 8 */
    display:flex;
    gap:1em;
  }
  
  header nav a {
    /* JOUW CODE HIER - stap 9 */
    flex-direction:column;
    
    border:none;
  }
  
  header > a:last-of-type {
    /* JOUW CODE HIER - stap 9 */
    flex-direction:column;
  }
}

.btn-blauw {
  color: #fff;
  background-color: #1b69d4;
  border-color: #1b69d4;
}

.btn-wit{
  color: #000000;
  background-color: #fff;
  border-color: #fff;
}

/* https://medium.com/front-end-weekly/absolute-centering-in-css-ea3a9d0ad72e */

.btn-blauw:nth-of-type(1){
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  border: 0 solid transparent;
  padding: 0.725rem 10rem;
  font-size: 1rem;
  line-height: 1.8;
  position: absolute; 
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: -50px 0 0 -50px;
  z-index: -2;
}

.btn-wit:nth-of-type(2){
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  border: 0 solid transparent;
  padding: 0.725rem 10rem;
  font-size: 1rem;
  line-height: 1.8;
  position: absolute;
  left: 50%;
  top: 42%;
  transform: translate(-50%, -50%);
  margin: -50px 0 0 -50px;
  z-index: -2;
}



/*basic styling opmaak pagina */


section{
  padding-top: 60px;
  padding-bottom:  60px;
  padding-left: 7%;
  padding-right: 7%;
}

section:nth-of-type(2) {
  margin-top: 40%;
  background:#ffffff;

}


section:nth-of-type(3) {
  background:#272727;
  color: #fff;

}

img section:nth-of-type(3) {
 height: 50%;
 width: 50%;
}



p:first-child{
  color: #757575;
  text-transform: uppercase;
  font-size: 12px;
}

section:nth-of-type(4){
  background: #8b8787;
}

section:nth-of-type(5){
  background: #ebe9e7;
}


section:nth-of-type(7){
  background: #ebe9e7;

}


section:nth-of-type(7):after {
  content: "";
  display: table;
  clear: both;
}


article:nth-of-type(7){
float: left;
width: 20%;
padding: 20px;
}

/* Create four equal columns that floats next to each other */

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  article:nth-of-type(7){
    width: 50%;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  article:nth-of-type(7){
    width: 100%;
  }
}



/********************/
/* ALGEMENE STIJLEN */
/********************/

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
	--maxWidth:32rem;
}

body {
	grid-template-columns: minmax(auto, var(--maxWidth));
	justify-content:center;
}


/********/
/* main */
/********/
h2 {
	margin:clamp(2rem, 10vw, 3.2rem) 0 0;
	font-size:1em;
	line-height:1.25em;
}

h2 + a {
  display:inline-block;
}

h2 + a::after {
	content:" ✎";
}





/*****************************/
/*****************************/
/****                     ****/
/****   DE CAROCAROUSEL   ****/
/****                     ****/
/*****************************/
/*****************************/






/*****************************/
/* DE CAROCAROUSEL CONTAINER */
/*****************************/

html {
	scroll-behavior: smooth;
}

.caroCarousel {
  position: relative;
	margin-top:.75em;
	overflow:hidden; /* om de linkbuttons te verbergen */
}


/************************************/
/* de carousel elementen container */
.caroCarousel > ul {
  margin: 0; 
	padding: 0;
  list-style: none;
	display: flex;

	/* handmatig scrollen is niet mogelijk */
	overflow: hidden;

	/* snappen als er gescrolled wordt - andere helft bij li */
  scroll-snap-type: inline mandatory;
	/* smooth scrollen */
	scroll-behavior: smooth;
}

/* handmatig scrollen is mogelijk - geen custom interaction */
.caroCarousel:not(.customInteraction) > ul {
	overflow-x: scroll;
	overflow-y: hidden;
	
  /* scrollbar zoveel mogelijk verbergen */
  -webkit-overflow-scrolling: touch; /* voor iOS*/
  -ms-overflow-style: none; /* voor IE */
	scrollbar-width: none; /* voor firefox */
	
	/* indien het einde of het begin van de pagina bereikt is met scrollen */
	/* voorkomen dat de pagina gaat scrollen */
	overscroll-behavior: contain auto;
}

.caroCarousel > ul::-webkit-scrollbar {
  /* scrollbar zoveel mogelijk verbergen */
  display: none; /* voor chrome, safari en edge*/
}


/**************************/
/* de carousel elementen */
.caroCarousel > ul > li {
  flex-basis: var(--caroCarouselElementWidth);
  flex-shrink: 0;
	flex-grow:1;

	/* snappen als er gescrolled wordt - andere helft bij ul */
	scroll-snap-align:center;
}








/********************/
/* LINKS EN BUTTONS */
/********************/

/**************************************/
/* stijlen voor alle buttons en links */
.caroCarousel > a,
.caroCarousel > nav a,
.caroCarousel > section button {
	display: block;
	padding:0;

	appearance: none; /* voor de button */
	background-color: var(--caroCarouselShadeColor);
	border: none; /* voor de button */
	outline: none;
	box-shadow: inset 0 0 0 1px currentColor;
	
	font:inherit; /* voor de button */
  text-decoration: none; /* voor de links */
	color: var(--caroCarouselMainColor);
  
	cursor: pointer; /* voor de button */
	
  transition: 0.5s;
}

.caroCarousel > a:hover,
.caroCarousel > a:focus,
.caroCarousel > nav a:hover,
.caroCarousel > nav a:focus,
.caroCarousel > section button:hover,
.caroCarousel > section button:focus {
  color: var(--caroCarouselAccentColor);
}


/* initieel staan de links "buiten beeld" */
.caroCarousel > a[href="previous"] {
  left: var(--buttonHorPos);
}
.caroCarousel > a[href="next"] {
  right: var(--buttonHorPos);
}

/* bij hover en focus schuiven de links in beeld */
.caroCarousel:hover > a,
.caroCarousel:focus-within > a {
  --buttonHorPosStatus: 0;
}

/* prev en next linkbuttons pijltjes */
.caroCarousel > a::before,
.caroCarousel > a::after {
  content: "";
  position: absolute;
  
	width: calc(var(--caroCarouselLinkButtonSize) / 3);
	height: calc(var(--caroCarouselLinkButtonSize) / 12);
  
	background-color: currentColor;
}

.caroCarousel > a[href=previous]::before {
	transform-origin: calc(var(--caroCarouselLinkButtonSize) / 24) center;
	transform: rotate(45deg);
}
.caroCarousel > a[href=previous]::after {
	transform-origin: calc(var(--caroCarouselLinkButtonSize) / 24) center;
	transform: rotate(-45deg);
}

.caroCarousel > a[href=next]::before {
	transform-origin: calc(100% - var(--caroCarouselLinkButtonSize) / 24) center;
	transform: rotate(45deg);
}
.caroCarousel > a[href=next]::after {
	transform-origin: calc(100% - var(--caroCarouselLinkButtonSize) / 24) center;
	transform: rotate(-45deg);
}


/****************/
/* de bolletjes */

/* de bolletjes container */
.caroCarousel > nav ul {
  position: absolute;
	inset:
	  auto
		var(--caroCarouselWhiteSpace)
		var(--caroCarouselWhiteSpace);
	
	margin: 0; 
  padding:0;
	
	display: flex;
  justify-content: center;	
	gap:calc( var(--caroCarouselBolletjesSize) / 3);
	
	list-style: none;
}


/* een bolletje container */
.caroCarousel > nav li {
	flex-basis: var(--caroCarouselBolletjesSize);
	aspect-ratio: 1 / 1;
}


/* de bolletjes */
.caroCarousel > nav a {
	display:block;
	position: relative;
  width:100%;
	height:100%;
	border-radius:50%;
}

.caroCarousel > nav a.current {
  background-color: currentColor;
}


/***********************/
/* DE CAROUSEL CONTENT */
/***********************/

/* de stijlen voor jouw content hier */
.caroCarousel > ul > li img {
  display: block;
  width: 100%;
  height: auto;
}

/* footer dingen */

footer {
  box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .column {
    width: 50%;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}





/* footer via grid */ 

.box {
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.footer {
  margin-top: 10%;
		display: grid;
    grid-gap: 10px;
		grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
	}






  

/*code pagina 2*/
.fastr{
  background-color: pink;
}





