@font-face {
    font-family: "BMWTypeNext Pro Regular";
    src: url()
   
}


/**************/
/* CSS REMEDY */
/**************/
* {
	font-family: "BMWTypeNext Pro Regular";
}


*, *::after, *::before {
  box-sizing:border-box;  
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/
h1, h2, h3, h4 {
	text-transform: uppercase;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 1px;
}


/* em gebruiken in css ipv px ivm schalen*/

h1 {
	font-size: 40px;
}

h2, h3 {
	font-size: 32px;
}

h4 {
	font-size: 18px;
}